.button {
  padding: 16px 28px;
  background-color: var(--theme-color);
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}
.button:hover {
  background-color: var(--focus-color);
}

.sm {
  padding: 14px 28px;
  font-size: 14px;
}

.md {
  padding: 16px 28px;
  font-size: 18px;
}