.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.input {
    display: none;
}

.box {
    width: 24px;
    height: 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    box-sizing: border-box;
}

.input:checked + .box {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.icon {
    width: 24px;
    height: 24px;
    fill: var(--border-color);
}
.input:checked + .box .icon {
    display: block;
    fill: #fff;
}

.label {
    margin-left: 8px;
    font-size: 14px;
}
