.button {
  padding: 15px 28px;
  border: 1px solid var(--theme-color);
  background-color: white;
  color: var(--theme-color);
  text-align: center;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}
.button:hover {
  background-color: var(--background-hover-color);
}

.sm {
  padding: 13px 28px;
  font-size: 14px;
}

.md {
  padding: 15px 28px;
  font-size: 18px;
}
