.input {
  width: 100%;
  padding: 16px 16px;
  border: 1px solid var(--border-color);
  color: #000;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
}

.input:focus {
  border-color: var(--focus-color);
}
