.container {
    padding: 84px 20px 0;
}

.container > h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
}
.description {
    font-size: 14px;
    color: #727272;
    margin-bottom: 36px;
}

.textInput {
    margin-bottom: 12px;
}
.checkbox {
    margin: 12px 0 24px;
}
.button {
    width: 100%;;
}

.error {
    color: red;
    font-size: 16px;
    margin-bottom: 24px;
    text-align: center;
}