/* Header 스타일 */

/* 기본: 모바일 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    box-sizing: border-box;
    z-index: 1000;
}

/* 태블릿: 768~1023px */
@media (min-width: 768px) {
  .header {
    max-width: 720px;
  }
}

/* 데스크탑: 1024px~ */
@media (min-width: 1024px) {
  .header {
    max-width: 720px;
  }
}

.iconButton {
    background: none;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-700);
    cursor: pointer;
}
.iconButton:hover {
    background-color: var(--background-hover-color);
}

.titleContainer {
    flex: 1;
    margin: 0 12px;
}

.title {
    font-size: 16px;
    font-weight: 700;
    pointer-events: none;
}
